.section{
    .container{
        @include max-sizes(1170px,100%,0 auto);
        background-color: lightgray;
        @include flex(space-between,none);

        & > div{
            @include sizes($size-1);
            @include flex(center,center);

            & > h2{
                font-size: $f-size-1;
            }
        }

        .left-box{
            // @include sizes($size-1);
            background-color: $color-1;
            // @include flex(center,center);
            transition: 2s;

            &:hover{
                background-color: green;
            }

            h2{
                // font-size: $f-size-1;
                font-weight: bold;
                color: white;
                font-family: $font-1;
                transition: all, 2s;

                &:hover{
                    font-size: 60px;
                }
            }
            
        }

        .right-box{
            // @include sizes($size-1);
            background-color: $color-2;
            // @include flex(center,center);

            h2{
                // font-size: $f-size-1;
                font-weight: bold;
                color: black;
                font-family: $font-2;
                text-align: center;

                // &::after{
                //     content: 'for example';
                // }
            }
        }
    }
}